:root{
  --brand: #00ff51;
  --secondary: #017520;
  --white: #e8e8e8;
}

.Light-theme {
  background: linear-gradient(0.25turn, hsl(250, 100%, 96%), hsla(250, 70%, 96%, 92%));
}

.Light-theme section {
  border-color: rgb(0, 0, 0, 0.2);
}

.Light-theme #Corvo{
  background-color: var(--white);
}

.Light-theme header{
  background: linear-gradient(0.25turn, hsla(250, 100%, 96%, 0.3), hsla(250, 70%, 96%, 0.3));
}

.Light-theme #imagemCorvo{
  filter: drop-shadow(3px 3px 5px var(--secondary))
  drop-shadow(1px 1px 0 var(--secondary)) 
    drop-shadow(-1px 1px 0 var(--secondary)) 
    drop-shadow(1px -1px 0 var(--secondary)) 
    drop-shadow(-1px -1px 0 var(--secondary));
}

.Light-theme .redes a{
  color: var(--secondary);
  border-color: var(--secondary);
}

.Light-theme .redes a:hover{
  background-color: var(--brand);
  color: var(--white);
}

.Light-theme {
  color: var(--secondary) !important;
}

.Light-theme #Corvo{
  opacity: 1 !important;
}

.Light-theme .Selecionado{
  border-color: black;
}

.Light-theme #EfeitoEscrevendo{
  border-color: var(--secondary);
}

  .Light-theme #Imagem3 {background-image: url("../Images/FormularioLight.png");}
  .Light-theme #Imagem6 {background-image: url("../Images/CodeDraftsLight.png");}

  .Light-theme #IconeMenu img, .Light-theme .Navbar img{
    filter: invert(100%);
  }

  .Light-theme .Navbar a, .Light-theme .Principal{
    color: black !important;
  }

  .Light-theme .Navbar a,
  .Light-theme button,
  .Light-theme .Principal{
    color: var(--white);
  }

  @media (max-width: 1040px) {
    .Light-theme .open {
      background: var(--white);
      filter: drop-shadow(5px 5px 10px black);
      border: 2px solid black
    }
  }
  
  .Light-theme .Portfolio,
  .Light-theme .SobreMim {
    background-color: hsl(250, 100%, 96%, 0.88);
  }

  .Light-theme .Cartão{
    background: linear-gradient(0.05turn, (--brand), rgb(204, 255, 255));
    border-color: black;
  }

  .Light-theme .Projeto {
    border-color: black;
    background-color: rgb(39, 60, 200);
  }

  .Light-theme .Projeto a{
    border-color: rgb(3, 1, 67)
  }

  .Light-theme .Projeto #github {
    filter: brightness(0) saturate(100%) invert(5%) sepia(90%) saturate(6124%) hue-rotate(248deg) brightness(61%) contrast(111%);
  }

  .Light-theme .Projeto a:hover {
    border-color: var(--white);
  }
  