.Light-theme {
  background: linear-gradient(0.25turn, rgb(250, 250, 250), rgb(234, 234, 234));
}

.Light-theme section {
  border-color: rgb(0, 0, 0, 0.2);
}

.Light-theme .Central #Texto{
  color: black;
}

.Light-theme #EfeitoEscrevendo{
  border-color: black;
}

  .Light-theme #Imagem3 {background-image: url("../Images/FormularioLight.png");}
  .Light-theme #Imagem6 {background-image: url("../Images/CodeDraftsLight.png");}

  .Light-theme #IconeMenu img{
    filter: invert(100%);
  }

  .Light-theme header {
    background-color: rgb(225, 225, 225, 0.5);
    border: solid 2px black;
  }

  .Light-theme .Navbar a, .Light-theme .Principal{
    filter: invert(100%);
  }

  .Light-theme .Navbar a,
  .Light-theme button,
  .Light-theme .Principal,
  .Light-theme a {
    color: white;
  }

  @media (max-width: 1040px) {
    .Light-theme .open {
      background: white;
      filter: drop-shadow(5px 5px 10px black);
      border: 2px solid black
    }
  }
  
  .Light-theme .Portifolio,
  .Light-theme .SobreMim {
    background-color: rgba(230, 230, 230, 0.88);
  }

  .Light-theme .Contato, .Light-theme .Contato a {
    color: black !important;
  }

  .Light-theme .Cartão{
    background: linear-gradient(0.05turn, aqua, rgb(204, 255, 255));
    border-color: black;
  }

  .Light-theme .Cartão p{
    color: black;
  }

  .Light-theme .Projeto {
    border-color: black;
    background-color: rgb(39, 60, 200);
  }

  .Light-theme .Projeto a{
    border-color: rgb(3, 1, 67)
  }

  .Light-theme .Projeto #github {
    filter: brightness(0) saturate(100%) invert(5%) sepia(90%) saturate(6124%) hue-rotate(248deg) brightness(61%) contrast(111%);
  }

  .Light-theme .Projeto a:hover {
    border-color: white;
  }
  