:root{
  --brand: #00ff51;
  --secondary: #017520;
  --white: #e8e8e8;
  --darkBrand: #001005
}

.Light-theme {
  background: linear-gradient(0.25turn, hsl(250, 100%, 96%), hsla(250, 70%, 96%, 92%));
}

.Light-theme section {
  border-color: rgb(0, 0, 0, 0.2);
}

.Light-theme #Corvo{
  background-color: var(--white);
}

.Light-theme header{
  background: linear-gradient(0.25turn, hsla(250, 100%, 96%, 0.3), hsla(250, 70%, 96%, 0.3));
}

.Light-theme #imagemCorvo{
  filter: drop-shadow(3px 3px 5px var(--secondary))
  drop-shadow(1px 1px 0 var(--secondary)) 
    drop-shadow(-1px 1px 0 var(--secondary)) 
    drop-shadow(1px -1px 0 var(--secondary)) 
    drop-shadow(-1px -1px 0 var(--secondary));
}

.Light-theme .redes a, #EfeitoEscrevendo {
  color: var(--secondary);
  border-color: var(--secondary);
}

.Light-theme .redes a:hover{
  background-color: var(--brand);
  color: var(--white);
}

.Light-theme, .Light-theme .Navbar li a:hover{
  color: var(--secondary) !important;
}

.Light-theme .Navbar li a::after {
  background-color: var(--secondary);
}

.Light-theme #Corvo{
  opacity: 1 !important;
}

.Light-theme .Selecionado{
  border-color: black;
}

.Light-theme #EfeitoEscrevendo{
  border-color: var(--secondary);
}

  .Light-theme #IOOON {background-image: url("../Images/Projetos/FormularioLight.png");}
  .Light-theme #CodeDrafts {background-image: url("../Images/Projetos/CodeDraftsLight.png");}

  .Light-theme #IconeMenu img, .Light-theme .Navbar img{
    filter: invert(100%);
  }

  .Light-theme .Navbar a, .Light-theme .Principal{
    color: black !important;
  }

  .Light-theme .modal{
    filter: drop-shadow(0 5px 10px var(--secondary));
  }

  .Light-theme .modal{
    background-color: rgb(221, 221, 221);
  }
  .Light-theme .links a{
    border-color: var(--secondary);
    color: var(--secondary);
  }
  .Light-theme .links #imgGithub img{
    filter: brightness(0) saturate(100%) invert(5%) sepia(30%) saturate(1613%) hue-rotate(100deg) brightness(97%) contrast(103%);
  }
  .Light-theme .links a:hover{
    color: white !important;
  }

  .Light-theme .Navbar a,
  .Light-theme button,
  .Light-theme .Principal{
    color: var(--white);
  }

  .Light-theme .evento-conteudo{
    background-color: var(--secondary);
    color: var(--white);
  }

  .Light-theme .evento-conteudo p{
    color: var(--white);
  }

  .Light-theme .evento-conteudo:hover{
    background-color: var(--white);
    color: var(--secondary);
    border-color: var(--secondary)
  }

  .Light-theme .evento-conteudo:hover p{
    color: var(--secondary);
  }

  .Light-theme .evento-data{
    background-color: var(--secondary);
    color: var(--white);
  }

  .Light-theme .linha-do-tempo::before, .Light-theme footer{
    background-color: var(--secondary);
  }

  @media (max-width: 1040px) {
    .Light-theme .open {
      background: var(--white);
      filter: drop-shadow(5px 5px 10px black);
      border: 2px solid black
    }
  }
  
  .Light-theme .Portfolio,
  .Light-theme .SobreMim {
    background-color: hsl(250, 100%, 96%, 0.88);
  }

  .Light-theme .Cartão{
    border-color: var(--darkBrand);
  }

  