.Portfolio {
  padding: 2% 0;
  min-height: calc(25vmax + 400px);
}

.ContainerPortfolio {
  display: flex;
  padding: 2% 0% 4% 0%;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.Projeto {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 25%;
  will-change: transform;
  aspect-ratio: 2.2/1;
  border-bottom: 3px solid var(--brand);
  transition: all 0.3s ease-in-out;
  align-content: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease;
  display: none;
}

.ContainerPortfolio .Mobile {
  aspect-ratio: 1/2 !important;
  width: 12%;
}

.Projeto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 0;
  transition: background-color 0.3s ease;
}

#Previdengue::before{
  background-color: rgb(0, 0, 0, 0.6);
}

.Projeto:hover::before {
  background-color: transparent !important;
}

.Projeto:hover {
  z-index: 1;
  transform: scale(1.2);
}

.Projeto.DesativarHover:hover {
  transform: none;
  z-index: 0;
}

.Projeto:hover h2,
.Projeto:hover .stacks {
  opacity: 0;
}

.Projeto .stacks {
  position: relative;
  z-index: 2;
  color: var(--brand);
  transition: all 0.3s ease-in-out;
  font-size: calc(0.8vmax + 20px);
}

.stacks object {
  width: calc(0.8vmax + 20px);
  filter: brightness(0) saturate(100%) invert(55%) sepia(88%) saturate(500%)
    hue-rotate(89deg) brightness(108%) contrast(117%);
}

.Projeto h2 {
  font-size: calc(1vmax + 20px);
  color: white;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.Projeto {
  position: relative;
  overflow: visible !important;
}

.Projeto .info-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 2;
  transform: translateY(50%);
  opacity: 0;
}

.Projeto:hover .info-bar {
  transform: translateY(0);
  opacity: 1;
}

.Projeto .info-bar .data {
  font-size: calc(0.3vmax + 10px);
}

.Projeto .info-bar .btn-veja-mais {
  background-color: var(--brand);
  border: none;
  color: var(--darkBrand);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.Projeto .info-bar .btn-veja-mais:hover {
  color: var(--secondary);
}

.Software,
.ContainerPortfolio .Mobile {
  display: none;
}
.Web {
  display: block;
}

.Projeto#CodeDrafts.Software {
  background-image: url("../Images/Projetos/CodeDraftsJava.png");
}

.Projeto#CodeDrafts.Web {
  background-image: url("../Images/Projetos/CodeDraftsDark.png");
}

#Previdengue{
  background-image: url("../Images/Projetos/previdengue.png");
}
#YourDle {
  background-image: url("../Images/Projetos/YourDle.png");
}
#IOOON {
  background-image: url("../Images/Projetos/FormularioDark.png");
}
#HollowKnight {
  background-image: url("../Images/Projetos/HollowKnight.png");
}
#Monitoria {
  background-image: url("../Images/Projetos/AgendamentoMonitoria.png");
}
#AlzCare {
  background-image: url("../Images/Projetos/AlzCare.png");
}
#Aprendize {
  background-image: url("../Images/Projetos/Aprendize.png");
}

.BotaoPortfolio {
  height: calc(0.75vmax + 40px);
  width: calc(1.5vmax + 100px);
  font-size: calc(0.5vmax + 12px);
  background-color: var(--secondary);
  color: white;
  transition: all 0.55s ease-in-out;
  border: 2px solid transparent;
}

.BotaoPortfolio:hover {
  scale: 1.2 !important;
  border-radius: 0.5vmax;
}

.Selecionado {
  border-color: white;
  scale: 1.2;
}

.modal-fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  opacity: 0;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.3s ease, z-index 0s linear 0.3s;
  font-size: calc(5vmax + 70px);
}

#prevProject,
#nextProject {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

#prevProject {
  left: 0px;
}

#nextProject {
  right: 0px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background: var(--darkBrand);
  border: 2px solid var(--brand);
  padding: 2%;
  border-radius: 10px;
  filter: drop-shadow(0 5px 10px var(--brand));
  opacity: 0;
  z-index: -1;
  transition: opacity 1s ease, z-index 0s linear 0.3s;
}

.modal.Aberto,
.modal-fundo.Aberto {
  opacity: 1;
  z-index: 1000;
  transition: opacity 1s ease, z-index 0s linear;
}

.close {
  position: absolute;
  padding: 10px;
  top: 10px;
  right: 15px;
  font-size: calc(1vmax + 20px);
}
.modal-body {
  display: flex;
  gap: 60px;
  align-items: stretch;
}

.modal-img {
  width: 40%;
}

.modal-text {
  flex: 1;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal-text h2 {
  font-size: calc(1vmax + 20px);
  margin-bottom: 10px;
}

.modal p {
  color: var(--secondary);
  font-size: calc(0.6vmax + 8px);
  text-align: left;
}

.modal-date {
  font-size: calc(0.6vmax + 10px);
  margin-top: auto;
  padding-top: 20px;
}

.modal .links {
  text-align: left;
}

.modal .links a {
  align-items: center;
  gap: 8px;
  padding: 1% 2%;
  border: 1px solid white;
  border-radius: 20px;
  height: calc(0.5vmax + 40px);
  color: white;
  margin-top: 50px;
  font-size: calc(0.4vmax + 10px);
  transition: all 0.3s ease-in-out;
}

.modal .links a:hover {
  transform: translateY(-5px);
  background-color: var(--secondary);
  filter: drop-shadow(0px 0px 5px var(--brand));
}

.modal .links img {
  height: calc(0.2vmax + 30px);
  width: auto;
}
.modal #imgGithub {
  display: inline-flex;
  margin-left: 10px;
}
.modal #imgGithub img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(7413%)
    hue-rotate(80deg) brightness(112%) contrast(100%);
}

.tabs {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 15px;
}

.tab {
  color: white;
  font-size: calc(0.5vmax + 10px);
  cursor: pointer;
  border-radius: 5px;
  margin-left: 0px !important;
}

.tab.active {
  color: var(--brand);
}

.tab-content {
  display: flex;
  gap: 20px;
}

.modal-body {
  display: flex;
  align-items: center;
}

.tab-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.Projeto.is-animating {
  pointer-events: none;
}

.Projeto.is-animating:hover {
  transform: none !important;
}

.Projeto.is-animating .info-bar {
  transform: translateY(50%) !important;
  opacity: 0 !important;
}
