* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  list-style: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  cursor: url("../Images/Cursor.png"), auto;
  background: linear-gradient(0.25turn, rgb(27, 27, 27), rgb(7, 7, 7));
  color: aqua;
}

header {
  background-color: rgb(33, 30, 30, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  border: solid 1px white;
}

Section {
  padding: 0 18%;
  border: 0.1px solid rgb(255, 255, 255, 0.1);
}

a:hover, button {
  cursor: url("../Images/CursorPointer.png"), pointer;
}

.ListaVertical {
  display: flex;
}

.ListaVertical a,
button {
  font-size: 25px;
  color: white;
  margin-left: 50px;
  font-weight: 700;
  transition: all 0.55s ease-in-out;
  border-bottom: transparent;
  justify-content: center;
}

/* Botão */
button {
  font-size: 20px;
  width: 70px;
  border: 0px solid;
  background-color: transparent;
}

.ListaVertical a:hover,
button:hover {
  border-bottom: 2px solid white;
  background-color: rgba(66, 62, 62, 0.8);
}

.Principal {
  font-size: 30px;
  font-weight: 1000;
  color: white;
}

#IconeMenu {
  width: 50px;
  height: auto;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.Central {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

#Texto {
  width: 450px;
  visibility: hidden;
}

#Texto2 {
  width: 450px;
}

.ContainerPortifolio,
#DivImagem,
#Corvo,
#ContainerGeral {
  visibility: hidden;
}

#Texto h1,
#Texto2 h1 {
  font-size: 60px;
  margin-bottom: 18px;
}

#Texto p,
#Texto2 p {
  font-size: 16px;
  font-weight: 600;
}

#EfeitoEscrevendo {
  width: 17ch;
  animation: Escrever 2s steps(37), effect 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid aqua;
  font-size: 2em;
}

@keyframes Escrever {
  from {
    width: 0;
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

#Texto a,
#Texto2 a,
.Projeto a {
  display: inline-block;
  color: white;
  background: rgb(58, 58, 58);
  padding: 20px 30px;
  line-height: 1.4;
  font-weight: 400;
  border-radius: 40px;
  transition: all 0.55s ease;
  margin-top: 20px;
}

#Texto a:hover,
.Projeto a:hover,
#Texto2 a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(7px);
}

#ImagemCentral {
  width: 550px;
  height: auto;
  opacity: 60%;
  transition: transform 1800ms ease-in-out;
  transition-delay: 0.1s;
  filter: drop-shadow(10px 10px 15px aqua);
}

#ImagemCentral:hover {
  transform: translatex(20px) translatey(-10px) rotate(2.5deg);
}

#SetaBaixo {
  position: absolute;
  bottom: 6%;
  right: 9%;
  visibility: hidden;
}
#SetaBaixo a {
  display: block;
  padding: 10px;
  color: white;
  background-color: rgb(58, 58, 58);
  border-radius: 40px;
  transition: all 0.55s ease;
}

#SetaBaixo a:hover {
  transform: translatey(5px);
}

#SetaBaixo img {
  width: 25px;
  height: auto;
}
.Habilidades {
  color: #e53f71;
}

.SobreMim {
  background: rgb(255, 255, 255, 0.02);
  color: white;
}

.Portifolio {
  background: rgb(255, 255, 255, 0.02);
  color: #3b4dc3;
}

.Contato {
  background: rgb(255, 0, 0, 0.05);
  color: white;
}

.Light-theme {
  background: linear-gradient(0.25turn, rgb(170, 170, 170), rgb(220, 220, 220));
  color: black;
  cursor: url("../Images/CursorClaro.png"), auto;
}

.Light-theme a:hover, .Light-theme button {
  cursor: url("../Images/CursorClaroPointer.png"), pointer;
}

.Light-theme .ListaVertical a,
.Light-theme button,
.Light-theme .Principal {
  color: rgb(51, 51, 183);
}

.Light-theme #EfeitoEscrevendo {
  color: black;
}

.Light-theme section {
  border: 0.1px solid rgb(51, 51, 183);
}

.Light-theme #Texto a,
.Light-theme #Seta {
  color: black;
  background-color: rgb(51, 51, 183);
}

.Light-theme .Portifolio,
.Light-theme .SobreMim {
  background-color: rgb(255, 255, 255, 0.59);
  color: black;
}

.Light-theme .Habilidades {
  background: linear-gradient(0.25turn, rgb(170, 170, 170), rgb(220, 220, 220));
  color: black;
}

.Light-theme header {
  background-color: rgba(61, 61, 190, 0.2);
  border: solid 1.5px rgb(125, 125, 214);
}

.Light-theme .ListaVertical a:hover,
.Light-theme button:hover {
  border-bottom: 2px solid rgb(51, 51, 183);
  background-color: rgb(255, 255, 255, 0.3);
}

.Light-theme #EfeitoEscrevendo {
  border-right: 3px solid black;
}

.Light-theme #ImagemCentral {
  opacity: 1;
}

.Light-theme .ListaVertical.open {
  border: solid 2px rgb(109, 109, 219);
  filter: drop-shadow(5px 5px 10px rgb(51, 51, 183));
}

.Light-theme ::-webkit-scrollbar-thumb {
  background: white;
}

.Light-theme ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
}

.ContainerPortifolio {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  margin-top: 60px;
}

.Projeto {
  background: rgb(3, 1, 67);
  color: white;
  width: 350px;
  height: 430px;
  text-align: center;
  border: white 2px solid;
  border-radius: 20px;
  box-shadow: 10px 10px 35px rgb(39, 60, 200);
  margin: 0 30px;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: aqua;
  border: 2px solid black;
  border-radius: 10px;
}

.Projeto h1 {
  font-size: 22px;
}

.Projeto a {
  background: rgb(39, 60, 200);
  margin-left: 5px;
  text-align: center;
}

.Projeto img {
  width: 40px;
}

.ImagemProjeto {
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  height: 250px;
}

#Imagem1 {
  background-image: url(../Images/HollowKnight.png);
}

#Imagem2 {
  background-image: url(../Images/Cadastro\ Alunos.png);
}

#Imagem3 {
  background-image: url(../Images/Formulario.png);
}

#DivImagem,
#Corvo {
  align-items: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#Texto h2 {
  font-size: 35px;
  margin-bottom: 18px;
}

.container {
  display: inline-block;
  position: relative;
  max-width: 300px;
  margin: auto;
}

.image {
  display: inline-block;
  width: auto;
  height: auto;
  height: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(229, 63, 113, 0.8);
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  color: white;
}

.container:hover .overlay {
  opacity: 1;
}

.ImagemProjeto:hover .overlay {
  opacity: 100%;
}

#Texto2 a img {
  width: 30px;
}
#Texto2 a {
  background: rgb(171, 22, 22);
}

.Projeto a {
  padding: 4px 11px;
  margin-top: 5px;
}
.Projeto img {
  width: 20px;
}
#DivImagem,
#Corvo {
  width: 200px;
}

@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
  }
  #SetaBaixo {
    right: 9%;
  }
}

@media (max-width: 1460px) {
  section {
    padding: 0 12%;
  }
}

@media (max-width: 1340px) {
  #ImagemCentral {
    width: 510px;
    height: auto;
  }
  #Texto h1,
  #Texto2 h1 {
    font-size: 65px;
    margin: 0 0 30px;
  }
}

@media (max-width: 1195px) {
  section {
    padding: 0 3%;
  }
  #Texto,
  #Texto2 {
    padding-top: 115px;
  }
  #Texto p,
  #Texto2 p {
    width: 300px;
  }

  #ImagemCentral {
    text-align: center;
    width: 380px;
    height: auto;
  }
  .Central {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #SetaBaixo {
    display: none;
  }
}

@media (max-width: 990px) {
  #IconeMenu {
    display: block;
  }
  .ListaVertical {
    position: absolute;
    top: 100%;
    right: -120%;
    width: 300px;
    height: 40vh;
    display: flex;
    padding: 50px 20px;
    flex-direction: column;
    align-items: center;
    background: rgb(58, 58, 58);
    transition: all 0.55s ease;
  }
  .ListaVertical a,
  button {
    margin-left: 0;
    display: block;
    margin: 5px 0;
  }
  .ListaVertical.open {
    right: 0;
    height: 300px;
    width: 200px;
    border-radius: 30px;
    border: solid 2px white;
    filter: drop-shadow(5px 5px 10px white);
  }
}

@media (max-width: 880px) {
  #ImagemCentral {
    width: 210px;
    height: auto;
  }
  #Texto h1,
  #Texto2 h1 {
    font-size: 50px;
  }
  #Texto a {
    padding: 10px 15px;
  }
  img {
    width: 50px;
  }
  .overlay {
    font-size: 15px;
  }
  .Projeto a {
    padding: 6px 15px;
  }
  .Projeto img {
    width: 30px;
  }
  .Projeto {
    width: 300px;
  }
  .Portifolio #Texto {
    height: 80px;
  }
  .Projeto {
    width: 200px;
    height: 430px;
    margin-top: 15px;
  }
  .ImagemProjeto {
    height: 190px;
  }
  .Projeto p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  #ImagemCentral {
    width: 300px;
    height: auto;
  }
  #Texto h1,
  #Texto2 h1 {
    font-size: 40px;
  }
  #Texto,
  #Texto2 {
    margin: 0;
    padding-top: 40px;
    margin-right: 0;
    width: 380px;
  }
  #Texto a img,
  #Texto2 a img {
    width: 30px;
  }
  #DivImagem,
  #Corvo {
    width: 100px;
  }
  .Central {
    gap: 0rem;
    grid-template-columns: 0fr;
  }
  #EfeitoEscrevendo {
    width: 17.5ch;
  }
  .Projeto a {
    padding: 4px 10px;
  }
  .Projeto img {
    width: 20px;
  }
  .ImagemProjeto {
    height: 150px;
  }
  .Projeto {
    width: 250px;
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  #ImagemCentral {
    width: 250px;
    height: auto;
    left: 0;
    position: absolute;
  }
  #Corvo #ImagemCentral {
    bottom: -30px;
  }
  #Texto,
  #Texto2 {
    width: 200px;
    padding-top: 0px;
  }
  #Texto p,
  #Texto2 p {
    width: 200px;
  }
  #Texto h1,
  #Texto2 h1 {
    font-size: 28px;
  }
  #Texto h2 {
    font-size: 20px;
  }
  #Texto p,
  #Texto2 p {
    font-size: 12px;
  }
  #EfeitoEscrevendo {
    width: 14.5ch;
  }
  img {
    width: 40px;
  }
  .Projeto a {
    padding: 4px 10px;
    font-size: 10px;
    padding-top: 2px;
  }
  .Projeto img {
    width: 15px;
  }
  .Projeto h1 {
    font-size: 15px;
  }
  .Projeto {
    width: 200px;
    height: 300px;
    margin-top: 15px;
  }
  .ImagemProjeto {
    height: 120px;
  }
  #Texto2 a {
    width: 310px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
  }
  .overlay {
    font-size: 10px;
  }
}

@media (max-width: 300px) {
  #Texto2 a {
    width: 260px;
  }
  img {
    width: 34px;
  }
}

@media (min-width: 1200px) and (max-height: 800px) {
  #ImagemCentral {
    width: 500px;
    height: auto;
  }
  #Texto h1,
  #Texto2 h1 {
    font-size: 42px;
  }
  #Texto,
  #Texto2 {
    width: 400px;
    padding-top: 0;
  }
}

@media (max-width: 1100px) and (max-height: 550px) {
  #ImagemCentral {
    width: 270px;
    height: auto;
  }
  #Texto h1,
  #Texto2 h1 {
    font-size: 35px;
  }
  #Texto,
  #Texto2 {
    width: 300px;
    padding-top: 0;
  }
}
@media (max-width: 920px) and (max-height: 420px) {
  #ImagemCentral {
    width: 280px;
    height: auto;
  }
  #Texto h1,
  #Texto2 h1 {
    font-size: 40px;
  }
  #Texto,
  #Texto2 {
    padding-top: 0px;
    width: 250px;
  }
  #Texto img {
    width: 30px;
  }
  #Texto a,
  #Texto2 a {
    padding: 3% 12%;
    align-items: center;
    position: relative;
  }
  #Texto2 a {
    width: 300px;
  }
  .Central {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) and (max-height: 420px) {
  #ImagemCentral {
    width: 200px;
    height: auto;
  }
  #Texto h1,
  #Texto2 h1 {
    font-size: 35px;
  }
  #Texto h2 {
    font-size: 25px;
  }
  img {
    width: 25px;
  }
  #Texto,
  #Texto2 {
    width: 220px;
  }
  #Texto p,
  #Texto2 p {
    font-size: 13px;
  }
  #EfeitoEscrevendo {
    width: 14.3ch;
  }
  .Central {
    gap: 0;
  }
}