:root{
  --brand: #00ff51;
  --secondary: #017520;
  --darkBrand: #001005
}

html{
  scroll-padding-top: 100px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand);
  border: 2px solid black;
  border-radius: 10px;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--brand);
}

::selection {
  color: white;
  background: var(--brand);
}


#DivImagem,
#ContainerGeral,
#imagemCorvo,
#Texto {
  visibility: hidden;
}

/* ESTILOS GERAIS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  list-style: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  cursor: url("../Images/Cursor.png"), auto;
  background: linear-gradient(0.25turn, rgb(27, 27, 27), rgb(7, 7, 7));
  color:  var(--brand);
  overflow-x: hidden;
  position: relative;
}

img {
  width: 30px;
}

.Navbar img:hover{
  filter: brightness(0) saturate(100%) invert(72%) sepia(18%) saturate(3732%) hue-rotate(84deg) brightness(100%) contrast(116%) !important;
}

Section {
  padding: 0 18%;
  border-bottom: 0.3px solid rgb(255, 255, 255, 0.1);
}

a:hover,
.Projeto,
button {
  cursor: url("../Images/CursorPointer.png"), pointer;
}

button {
  border: 0px solid;
  background-color: transparent;
}

#h2 {
  margin-bottom: 18px;
  font-size: calc(1vmax + 10px) !important;
}


#Texto{
  z-index: 1;
}

/* TEXTOS */
.paragrafo{
  display: inline-block;
  max-width: calc(20vmax + 230px);
}

.redes{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.redes img{
  filter: brightness(0) saturate(100%) invert(72%) sepia(18%) saturate(3732%) hue-rotate(84deg) brightness(100%) contrast(116%) !important;
}

.redes a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px;
  font-size: calc(1.2vmax + 10px);
  color: var(--brand);
  border: 1px solid var(--brand);
  border-radius: 50%; 
  transition: 0.3s ease, color 0.4s;
}

.redes a:hover{
  color: white;
  transform: scale(1.1)translateY(-3px);
  background-color: var(--secondary);
  box-shadow:  0 0 15px var(--brand);
}


.paragrafo h2, .paragrafo h3{
  text-align: left;
  margin-left: 1%;
  color: var(--secondary);
}

.paragrafo h2{
  font-size: calc(2vmax + 5px);
  margin-bottom: -2.5%;
}

.paragrafo h3{
  text-align: center;
  font-size: calc(1vmax + 5px);
}

#Escrever{
  margin-left: 1%;
  margin-bottom: 3%;
}

#Texto a img, #Texto2 a img, .Projeto a img{
  vertical-align: middle;
}
#Texto h1,
#Texto2 h1 {
  font-size: calc(3.5vmax + 10px);
  white-space: nowrap;
}

#Texto p,
#Texto2 p {
  font-size: calc(0.5vmax + 10px);
}

#Texto2 a {
  background: transparent;
  border: 2px solid var(--secondary);
  display: flex; 
  margin: 10px;
  align-items: center; 
  font-size: calc(0.5vmax + 10px);
}

#Texto2 img {
  margin-right: 8px; 
  vertical-align: middle; 
}

.Projeto a:hover,
#Texto2 a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(7px);
}


header {
  width: 100%;
  display: flex;
  position: fixed;
  backdrop-filter: blur(4px);
  background: linear-gradient(0.25turn, rgb(27, 27, 27, 0.3), rgb(7, 7, 7, 0.3));
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
}

.Navbar {
  display: flex;
}

.Navbar li{
  align-content: center;
}

.Principal {
  font-size: calc(1.5vmax + 10px);
  font-weight: 1000;
  color: white;
}

.Navbar a {
  font-size: calc(80% + 10px);
  color: white;
  margin-left: 50px;
  font-weight: 700;
  transition: all 0.55s, color 0s ease-in-out;
  border-bottom: transparent;
  justify-content: center;
}

.Navbar li a, .Principal {
  position: relative;
  transition: 0.2s;
}

.Navbar li a:hover, .Principal:hover{
  color: var(--brand) !important;
}

.Navbar li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--brand);
  transition: width 0.3s;
}

#ahover:hover::after {
  width: 100%;
}

#IconeMenu {
  width: 50px;
  z-index: 11;
  cursor: pointer;
  display: none;
}

/* SEÇÃO PRINCIPAL */

.Central {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  align-items: center;
}

#DivImagem,
#Corvo {
  align-items: center;
  position: relative;
  display: grid;
  justify-content: center;
}


#imagemCorvo {
  transition: filter 0.2s ease-in-out;
  position: absolute;
  right: 0;
  z-index: 0;
  filter: drop-shadow(0px 0px 4px var(--brand));
}

#Corvo {
  position: relative;
  aspect-ratio: 1 / 1;
  background-color: black; 
  mask-image: url("https://arthurgamajorge.github.io/Images/corvo.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  
  width: calc(35vw + 120px);
}

#ImagemCentral{
  width: calc(35vw + 120px);
}



#EfeitoEscrevendo {
  max-width: min-content;
  padding-right: calc(0.5vmax + 5px);
  animation: Escrever 3s steps(37) forwards, effect 0.75s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid  var(--brand);
  font-size: 2em;
  display: inline-block;
}

@keyframes Escrever {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%; 
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

/* SEÇÃO HABILIDADES */

.SecondaryImage{
  filter: drop-shadow(10px 10px 15px var(--secondary));
}

.Habilidades{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Habilidades #Texto{
  width: unset !important;
}

.Habilidades img {
  width: calc(2.5vmax + 30px);
}

.Habilidades, .SobreMim, .Portfolio{
  text-align: center;
}

#DivImagem{
  text-align: center;
  display: flex;
  justify-content: center;
}

#ContainerGeral{
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding: 0;
  width: 98vw;
  justify-content: center;
}

.Cartão{
  border: 3px solid white;
  border-radius: 1vmax;
  width: calc(14vmax + 80px);
  height: calc(5vmax + 50px);
  background: linear-gradient(0.05turn, var(--brand), rgb(0, 0, 0));
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  display: none;
}

#github{
  filter: brightness(0) saturate(100%) invert(25%) sepia(89%) saturate(2932%) hue-rotate(229deg) brightness(76%) contrast(108%);
}
.Cartão p{
  font-size: calc(1vmax + 10px) !important;
  color: white;
}

#habilidade {
  margin-left: 5px;
  width: calc(4vmax + 30px);
  margin-right: 2vmax;
filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px 1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px -1px 0 white);
}


#Botoes{
  margin: auto;
}

.Visivel {
  display: flex;
}

.Selecionado{
  border: 2px solid white; 
  scale:1.2;
}


.SobreMim, .Portfolio {
  background: rgb(255, 255, 255, 0.02);
}

/* SEÇÃO SOBRE MIM */
.SobremimContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
  border: none;
}

.linha-do-tempo {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 40%;
  padding-right: 20px;
  gap: 50px;
}

.linha-do-tempo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 30px;
  width: 3px;
  height: 100%;
  background-color: var(--brand);
  z-index: 0;
}

.evento-data {
  background-color: var(--brand);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  font-size: 20px;
  color: var(--secondary);
  font-weight: bold;
  z-index: 1;
}

.SobreMim p {
  font-size: 1em;
  color: var(--secondary);
  font-weight: 600;
}

.medalha-container {
  position: absolute;
  left: 6.5px;
  top: 0;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.medalha {
  position: absolute;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
  z-index: 2;
  transform: translateZ(-1px)
}

.ouro i{
  color: gold;
}
.prata i{
  color: silver;
}
.bronze i{
  color: rgb(171, 111, 0)
}
.especial i{
  color: aqua;
}
.importante i{
  filter: drop-shadow(0px 0px 10px var(--brand))
}
.medalha:hover {
  transform: scale(1.1);
}
.importante:hover {
  transform: scale(1.4) rotate(90deg); 
}
.medalha-info {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 10;
}

.medalha-info p{
  color: white !important;
}

.medalha:hover + .medalha-info {
  display: block;
}

#DivImagem {
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ImagemCentral {
  width: 100%;
}

.Info{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.evento-conteudo p {
  font-size: calc(0.5vmax + 6px);
  text-align: left;
  color: var(--darkBrand);
  margin-right: 5%;

}
.evento-conteudo i, .evento-conteudo svg {
  font-size: calc(4vmax + 45px);  
  margin-left: calc(0.5vmax + 10px); 
}

.evento-conteudo svg {
  padding: 2.5% 0%;
  height: 100%;
  text-align: center;
  width: calc((5vmax + 105px) * 1.1);
}

.evento-conteudo h3 {
  font-size: calc(1vmax + 10px);
  text-align: left;
}

.evento {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}
#conclusao{
  margin-top: 100px;
}
#ensinoMedio{
  margin-top: -25px;
}

.SobreMim{
  padding: 2% 0;
}
.space{
  flex: 1;
  display: flex;
  justify-content: center;
  height: calc(5vmax + 60px);
  align-items: center;
}

.evento-conteudo {
  height: 95%;
  background-color: var(--brand);
  color: var(--darkBrand);
  padding: 5px 0px;
  border: 5px solid transparent;
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 3rem;;
  transition: 0.4s ease-in-out;
  gap: calc(0.5vmax + 10px);
}

.evento-conteudo:hover {
  background-color: var(--darkBrand);;
  color: var(--brand);
  border: 5px solid var(--brand);
  transform: scale(1.03);
  fill: red;
  stroke: red;
}

.evento-conteudo:hover p{
  color: var(--brand);
}

/* SEÇÃO PROJETOS */

.ContainerPortfolio {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding-top: 10px;
}

.Projeto {
  background: rgb(3, 1, 67);
  color: white;
  width: calc(20vmax + 160px);
  text-align: center;
  border: white 2px solid;
  border-radius: calc(1vmax + 20px);
  filter: drop-shadow(10px 10px 8px var(--secondary));
  margin: 0 30px;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
  user-select: none;
}

.Projeto a, .Projeto img{
  -webkit-user-drag: none;
  width: auto;
}

.Projeto:hover {
  scale: 1.03;
  filter: drop-shadow(15px 15px 12px var(--secondary));
}

.Projeto:active {
  scale: 0.98;
  filter: drop-shadow(5px 5px 4px var(--secondary));
}

.Projeto h2 {
  font-size: calc(1vmax + 10px);
}

.Projeto a {
  border: 2px dashed var(--secondary);
  background: transparent;
  margin-left: 5px;
  text-align: center;
  font-size: calc(0.5vmax + 10px);
  padding: 4px 11px;
  margin-top: 5px;
}

.BasicInfo{
  height: calc(1vmax + 110px);
  padding: 0% 4%
}

.BasicInfo p{
  font-size: calc(0.4vmax + 12px);
}

.Projeto img{
  height: calc(1vmax + 15px);
  width: auto;
}

.ImagemProjeto {
  background-size: cover;
  background-position: center center;
  border-radius: calc(1vmax + 20px) calc(1vmax + 20px) 0px 0px;
  height: calc(11vmax + 80px);
}

#Imagem1 {background-image: url("../Images/Projetos/HollowKnight.png");}
#Imagem2 {background-image: url("../Images/Projetos/Cadastro\ Alunos.png");}
#Imagem3 {background-image: url("../Images/Projetos/FormularioDark.png");}
#Imagem4 {background-image: url("../Images/Projetos/AgendamentoMonitoria.png");}
#Imagem6 {background-image: url("../Images/Projetos/CodeDraftsDark.png");}
#Imagem7 {background-image: url("../Images/Projetos/YourDle.png");}

.Python {
  display: none;
}

.PythonLigado .Python{
  display: block;
}

.PythonLigado #BtnPy{
  border: 2px solid white; 
  scale:1.2;
}

.PythonLigado #BtnWeb{
  scale: 0.94; 
  border: none;
}

.PythonLigado .Web{
  display: none;
}

.BotaoPortfolio {
  height: 40px;
  width: 90px;
  background-color: var(--secondary);
  margin-left: 20px;
  margin-top: 20px;
  color: white;
  transition: all 0.55s ease-in-out;
}

.BotaoPortfolio:hover {
  scale: 1.2 !important;
  border-radius: 0.5vmax;
}

#BtnWeb {
  border: 2px solid white;
  scale: 1.2;
}

/* RESPONSIVIDADE */

@media (max-width: 1195px) {
  .Central {
    display: grid;
  }
}

/* MENU DE MAIS OPÇÕES */
@media (max-width: 1040px) {
  html{
    scroll-padding-top: 20px;
  }
  #Corvo{
    position: unset;
  }
  #IconeMenu {
    display: block;
  }
  header{
    padding: 10px 10%;
  }
  .Navbar {
    position: absolute;
    top: 100%;
    right: -120%;
    width: 300px;
    height: 40vh;
    display: flex;
    padding: 25px 20px;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: all 0.55s ease;
  }
  .Navbar a,
  .Navbar button {
    margin-left: 0;
    display: block;
    margin: 5px 0;
  }
  .Navbar.open {
    right: 0;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    border: solid 2px white;
    filter: drop-shadow(5px 5px 10px white);
  }
  .Portfolio{
    padding: 4%;
    margin: 0;
  }
  .Central #Texto{
    margin-top: 15%;
    display: flex;
    justify-content: center;
  }
  #DivImagem{
    display: none;
  }
  .SobreMim{
    padding: 10% 0% !important;
  }
  .SobremimContainer{
    width: 100%;
  }
  .evento-conteudo svg{
    padding: 0;
  }
  .linha-do-tempo{
    gap: 100px;
  }
}

@media (max-width: 730px) {
  #Texto{
    width: 100%;
  }
  .Central{
    min-height: unset;
    padding-top: 10%;
  }
  Section{
    padding: 10% 9%;
  }
  .Central {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  #Corvo, #imagemCorvo{
    width: 100%;
  }
  #imagemCorvo{
    position: unset;
  }
  .linha-do-tempo{
    max-width: 100%;
    padding: 0px;
  }
  .SobremimContainer{
    padding: 0px;
  }
  .medalha-info{
    left: 400%;
  }
}

@media (max-width: 920px) and (max-height: 420px) {
  #Texto a,
  #Texto2 a {
    align-items: center;
    position: relative;
  }
}
