*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: rgb(33, 30, 30, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

Section {
    padding: 0 18%;
}

.ListaVertical {
    display: flex;
}

.ListaVertical a{
    font-size: 25px;
    color: aqua;
    margin-left: 60px;
    font-weight: 700;
    transition: all .55s ease; 
}

.ListaVertical a:hover{
    border-bottom: 2px solid aqua;
    background-color: rgba(66, 62, 62, 0.8);
}

.Principal {
    font-size: 30px;
    font-weight: 1000;
    color: aqua;
}

#IconeMenu {
    color: aqua;
    width: 50px;
    height: auto;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.Central {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(105deg, rgb(22, 22, 22) 0%, rgb(16, 16, 16) 70%, rgb(14, 14, 14) 30%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

#Texto h1 {
    font-size: 75px;
    color: aqua;
    margin-bottom: 18px;
    font-family: cursive;
}

#Texto p {
    font-size: 14px;
    color: aqua;
    font-style: italic;
    width: 450px;
}

#Texto a {
    display: inline-block;
    color: white;
    background: rgb(58, 58, 58);
    padding: 12px 30px;
    line-height: 1.4;
    font-weight: 400;
    border-radius: 40px;
    transition: all .55s ease;
}

#Texto a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(7px);
    
}

#ImagemCentral {
    width: 700px;
    height: auto;
    opacity: 60%;
    transition: transform 1800ms ease-in-out;
    transition-delay: .30s;
}


#ImagemCentral:hover {
    transform: translatex(20px) translatey(-10px) rotate(2.5deg);
}

#SetaBaixo {
    position: absolute;
    bottom: 6%;
    right: 9%;
}
#SetaBaixo a {
    display: block;
    padding: 10px;
    color: white;
    background-color: rgb(58, 58, 58) ;
    border-radius: 40px;
    transition: all .55s ease;
}

#SetaBaixo a:hover {
    transform: translatey(5px);
}

#SetaBaixo img {
    width: 25px;
    height: auto;
}

@media (max-width: 1535px){
    header {
        padding: 15px 3%;
    }
    #SetaBaixo {
        right: 9%;
    }
}

@media (max-width: 1460px){
    section {
        padding: 0 12%;
    }
}

@media (max-width: 1340px) {
    #ImagemCentral {
        width: 100%;
        height: auto;
    }
    #Texto h1 {
        font-size: 75px;
        margin: 0 0 30px
    }
}

@media (max-width: 1195px) {
    section {
        padding: 0 3%;
    }
    #Texto {
        padding-top: 115px;
    }
    #ImagemCentral {
        text-align: center;
        width: 450px;
        height: auto;
    }
    .Central {
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    #SetaBaixo {
        display: none;
    }
}

@media (max-width: 990px) {
    #IconeMenu {
        display: block;
    }
    .ListaVertical {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        display: flex;
        padding: 50px 20px;
        flex-direction: column;
        align-items: center;
        background: rgb(58, 58, 58);
        transition: all .55s ease;
    }
    .ListaVertical a {
        margin-left: 0;
        display: block;
        margin: 5px 0;
    }
    .ListaVertical.open{
        right: 0;
        height: 250px;
        width: 200px;
        border-radius: 30px;
        border: solid 2px aqua;
    }
}

@media (max-width: 880px) {
    #ImagemCentral {
        width: 420px;
        height: auto;
    }
    #Texto h1 {
        font-size: 50px;
    }
}

@media (max-width: 750px) {
    #ImagemCentral {
        width: 400px;
        height: auto;
    }
    #Texto h1{
        font-size: 45px;
    }
}

@media (max-width: 600px) {
    #ImagemCentral {
        width: 410px;
        height: auto;
    }
}

@media (max-width: 500px) {
    #ImagemCentral {
        width: 380px;
        height: auto;
    }
    #Texto h1{
        font-size: 55px;
    }
}

@media (max-width: 480px) {
    html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
    #ImagemCentral {
        width: 350px;
        height: auto;
    }
    #Texto h1{
        font-size: 40px;
    }
    #Texto {
        margin: 0;
        padding-top: 40px;
        margin-right: 0;
    }
    .Central {
        gap: 0rem;
        grid-template-columns: 0fr;
    }
}

@media (max-width: 400px) {
    #ImagemCentral {
        width: 300px;
        height: auto;
    }
    #Texto h1 {
        font-size: 30px;
    }
    #Texto p {
        font-size: 12px;
    }
}