:root{
  --brand: #00ff51;
  --secondary: #017520;
}

/* ESTILOS GERAIS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  list-style: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  cursor: url("../Images/Cursor.png"), auto;
  background: linear-gradient(0.25turn, rgb(27, 27, 27), rgb(7, 7, 7));
  color:  var(--brand);
  overflow: hidden;
  position: relative;
}

img {
  width: 30px;
}

.Navbar img:hover{
  filter: brightness(0) saturate(100%) invert(72%) sepia(18%) saturate(3732%) hue-rotate(84deg) brightness(100%) contrast(116%) !important;
}

Section {
  padding: 0 18%;
  border-bottom: 0.3px solid rgb(255, 255, 255, 0.1);
}

a:hover,
.Projeto,
button {
  cursor: url("../Images/CursorPointer.png"), pointer;
}

button {
  border: 0px solid;
  background-color: transparent;
}

#h2 {
  margin-bottom: 18px;
  font-size: calc(1vmax + 10px) !important;
}


#Texto{
  z-index: 1;
}

/* TEXTOS */
.paragrafo{
  display: inline-block;
  max-width: calc(20vmax + 230px);
}

.redes{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.redes img{
  filter: brightness(0) saturate(100%) invert(72%) sepia(18%) saturate(3732%) hue-rotate(84deg) brightness(100%) contrast(116%) !important;
}

.redes a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px;
  font-size: calc(1.2vmax + 10px);
  color: var(--brand);
  border: 1px solid var(--brand);
  border-radius: 50%; 
  transition: 0.3s ease;
}

.redes a:hover{
  color: white;
  transform: scale(1.1)translateY(-3px);
  background-color: var(--secondary);
  box-shadow:  0 0 15px var(--brand);
}


.paragrafo h2, .paragrafo h3{
  text-align: left;
  margin-left: 1%;
  color: var(--secondary);
}

.paragrafo h2{
  font-size: calc(2vmax + 5px);
  margin-bottom: -2.5%;
}

.paragrafo h3{
  text-align: center;
  font-size: calc(1vmax + 5px);
}

#Escrever{
  margin-left: 1%;
  margin-bottom: 3%;
}

#Texto a img, #Texto2 a img, .Projeto a img{
  vertical-align: middle;
}
#Texto h1,
#Texto2 h1 {
  font-size: calc(3.5vmax + 10px);
  white-space: nowrap;
}

#Texto p,
#Texto2 p {
  font-size: calc(0.5vmax + 10px);
}

.SobreMim #Texto p{
  font-size: calc(0.3vmax + 15px);
}

#Texto2 a {
  background: transparent;
  border: 2px solid #3b4dc3;
  display: flex; 
  margin: 10px;
  align-items: center; 
  font-size: calc(0.5vmax + 10px);
}

#Texto2 img {
  margin-right: 8px; 
  vertical-align: middle; 
}

.Projeto a:hover,
#Texto2 a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(7px);
}


header {
  width: 100%;
  display: flex;
  position: fixed;
  backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
}

.Navbar {
  display: flex;
}

.Navbar li{
  align-content: center;
}

.Principal {
  font-size: calc(1.5vmax + 10px);
  font-weight: 1000;
  color: white;
}

.Navbar a {
  font-size: calc(80% + 10px);
  color: white;
  margin-left: 50px;
  font-weight: 700;
  transition: all 0.55s, color 0s ease-in-out;
  border-bottom: transparent;
  justify-content: center;
}

.Navbar li a {
  position: relative;
}

.Navbar li a:hover{
  color: var(--brand) !important;
}

.Navbar li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--brand);
  transition: width 0.3s;
}

#ahover:hover::after {
  width: 100%;
}

#IconeMenu {
  width: 50px;
  z-index: 11;
  cursor: pointer;
  display: none;
}

/* SEÇÃO PRINCIPAL */

.Central {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  align-items: center;
}

#DivImagem,
#Corvo {
  align-items: center;
  position: relative;
  display: grid;
  justify-content: center;
}

#Corvo {
  position: absolute; 
  margin-top: 2vmax;
  right: 0; 
  z-index: 0; 
  filter: drop-shadow(8px 10px 10px var(--brand));
  opacity: 0.75;
}

#ImagemCentral {
  width: calc(35vw + 120px);
  -webkit-filter: drop-shadow(1px 1px 0 var(--brand))
drop-shadow(-1px 1px 0 var(--brand))
drop-shadow(1px -1px 0 var(--brand))
drop-shadow(-1px -1px 0 var(--brand));
filter: drop-shadow(1px 1px 0 var(--brand))
drop-shadow(-1px 1px 0 var(--brand))
drop-shadow(1px -1px 0 var(--brand))
drop-shadow(-1px -1px 0 var(--brand));
}

#EfeitoEscrevendo {
  max-width: min-content;
  padding-right: calc(0.5vmax + 5px);
  animation: Escrever 3s steps(37) forwards, effect 0.75s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid  var(--brand);
  font-size: 2em;
  display: inline-block;
}

@keyframes Escrever {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%; 
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

/* SEÇÃO HABILIDADES */

.SecondaryImage{
  filter: drop-shadow(10px 10px 15px #3b4dc3);
}

.Habilidades{
  color: #3b4dc3;
  padding: 0;
}

.Habilidades #Texto{
  width: unset !important;
}

.Habilidades img {
  width: calc(2.5vmax + 30px);
}

.Habilidades, .SobreMim, .Portfolio{
  text-align: center;
}

#DivImagem{
  text-align: center;
  display: flex;
  justify-content: center;
}

#ContainerGeral{
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding: 0;
  width: 98vw;
  justify-content: center;
}

.Cartão{
  border: 3px solid white;
  border-radius: 1vmax;
  width: calc(14vmax + 80px);
  height: calc(5vmax + 50px);
  background: linear-gradient(0.05turn, var(--brand), rgb(0, 0, 0));
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  display: none;
}

#github{
  filter: brightness(0) saturate(100%) invert(25%) sepia(89%) saturate(2932%) hue-rotate(229deg) brightness(76%) contrast(108%);
}
.Cartão p{
  font-size: calc(1vmax + 10px) !important;
  color: white;
}

#habilidade {
  margin-left: 5px;
  width: calc(4vmax + 30px);
  margin-right: 2vmax;
  -webkit-filter: drop-shadow(1px 1px 0 white)
                drop-shadow(-1px 1px 0 white)
                drop-shadow(1px -1px 0 white)
                drop-shadow(-1px -1px 0 white);
filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px 1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px -1px 0 white);
}

.estrelas{
  position: absolute;
  left: calc(6vmax + 30px);
  bottom: 10%;
}

.estrelas img{
  width: calc(0.7vmax + 10px);
}

#Botoes{
  margin: auto;
}

.Visivel {
  display: flex;
}

.Selecionado{
  border: 2px solid white; 
  scale:1.2;
}


.SobreMim, .Portfolio {
  background: rgb(255, 255, 255, 0.02);
  color: #3b4dc3;
}

.SobreMim #Texto{
  margin: auto;
  width: 60%;
}

/* SEÇÃO PROJETOS */

.ContainerPortfolio {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding-top: 10px;
}

.Projeto {
  background: rgb(3, 1, 67);
  color: white;
  width: calc(20vmax + 160px);
  text-align: center;
  border: white 2px solid;
  border-radius: calc(1vmax + 20px);
  filter: drop-shadow(10px 10px 8px rgb(39, 60, 200));
  margin: 0 30px;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
  user-select: none;
}

.Projeto a, .Projeto img{
  -webkit-user-drag: none;
  width: auto;
}

.Projeto:hover {
  scale: 1.03;
  filter: drop-shadow(15px 15px 12px rgb(39, 60, 200));
}

.Projeto:active {
  scale: 0.98;
  filter: drop-shadow(5px 5px 4px rgb(39, 60, 200));
}

.Projeto h2 {
  font-size: calc(1vmax + 10px);
}

.Projeto a {
  border: 2px dashed rgb(39, 60, 200);
  background: transparent;
  margin-left: 5px;
  text-align: center;
  font-size: calc(0.5vmax + 10px);
  padding: 4px 11px;
  margin-top: 5px;
}

.BasicInfo{
  height: calc(1vmax + 110px);
  padding: 0% 4%
}

.BasicInfo p{
  font-size: calc(0.4vmax + 12px);
}

.Projeto img{
  height: calc(1vmax + 15px);
  width: auto;
}

.ImagemProjeto {
  background-size: cover;
  background-position: center center;
  border-radius: calc(1vmax + 20px) calc(1vmax + 20px) 0px 0px;
  height: calc(11vmax + 80px);
}

#Imagem1 {background-image: url("../Images/HollowKnight.png");}
#Imagem2 {background-image: url("../Images/Cadastro\ Alunos.png");}
#Imagem3 {background-image: url("../Images/FormularioDark.png");}
#Imagem4 {background-image: url("../Images/AgendamentoMonitoria.png");}
#Imagem6 {background-image: url("../Images/CodeDraftsDark.png");}
#Imagem7 {background-image: url("../Images/YourDle.png");}

.Python {
  display: none;
}

.PythonLigado .Python{
  display: block;
}

.PythonLigado #BtnPy{
  border: 2px solid white; 
  scale:1.2;
}

.PythonLigado #BtnWeb{
  scale: 0.94; 
  border: none;
}

.PythonLigado .Web{
  display: none;
}

.BotaoPortfolio {
  height: 40px;
  width: 90px;
  background-color: rgb(39, 60, 200);
  margin-left: 20px;
  margin-top: 20px;
  color: white;
  transition: all 0.55s ease-in-out;
}

.BotaoPortfolio:hover {
  scale: 1.2 !important;
  border-radius: 0.5vmax;
}

#BtnWeb {
  border: 2px solid white;
  scale: 1.2;
}

/* RESPONSIVIDADE */

@media (max-width: 1195px) {
  .Central {
    display: grid;
  }
}

/* MENU DE MAIS OPÇÕES */
@media (max-width: 1040px) {
  #Corvo{
    position: unset;
  }
  #IconeMenu {
    display: block;
  }
  header{
    padding: 10px 10%;
  }
  .Navbar {
    position: absolute;
    top: 100%;
    right: -120%;
    width: 300px;
    height: 40vh;
    display: flex;
    padding: 25px 20px;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: all 0.55s ease;
  }
  .Navbar a,
  .Navbar button {
    margin-left: 0;
    display: block;
    margin: 5px 0;
  }
  .Navbar.open {
    right: 0;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    border: solid 2px white;
    filter: drop-shadow(5px 5px 10px white);
  }
  .Portfolio{
    padding: 4%;
    margin: 0;
  }
  .Central #Texto{
    margin-top: 15%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 730px) {
  #Texto{
    margin-top: 20vmax;
    width: 100%;
  }
  .SobreMim #Texto{
    width: 100%;
  }
  .Central {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  #Corvo{
    display: flex;
    width: 100%;
  }
  #ImagemCentral{
    width: 100%;
  }
}

@media (max-width: 400px) {
  .Central, .SobreMim{
    padding: 8%;
  }
}

@media (max-width: 920px) and (max-height: 420px) {
  #Texto a,
  #Texto2 a {
    padding: 3% 12%;
    align-items: center;
    position: relative;
  }
}
