:root{
  --brand: #00ff51;
  --secondary: #017520;
  --darkBrand: #001005
}

html{
  scroll-padding-top: 100px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand);
  border: 2px solid black;
  border-radius: 10px;
}

::-moz-selection { 
  color: white;
  background: var(--brand);
}

::selection {
  color: white;
  background: var(--brand);
}


/* ESTILOS GERAIS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  list-style: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  cursor: url("../Images/Cursor.png"), auto;
  background: linear-gradient(0.25turn, rgb(27, 27, 27), rgb(7, 7, 7));
  color:  var(--brand);
  overflow-x: hidden;
  position: relative;
}

img {
  width: 30px;
}

.Navbar img:hover{
  filter: brightness(0) saturate(100%) invert(72%) sepia(18%) saturate(3732%) hue-rotate(84deg) brightness(100%) contrast(116%) !important;
}

Section {
  padding: 0 18%;
  border-bottom: 0.3px solid rgb(255, 255, 255, 0.1);
}

a:hover,
.medalha,
button, .ProjetoImg img, .Projeto, .close {
  cursor: url("../Images/CursorPointer.png"), pointer;
}

button {
  border: 0px solid;
  background-color: transparent;
}

#h2 {
  margin-bottom: 18px;
  font-size: calc(1vmax + 10px) !important;
}

#Texto{
  z-index: 1;
}

/* TEXTOS */
.paragrafo{
  display: inline-block;
  max-width: calc(20vmax + 230px);
}

.redes{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.redes img{
  filter: brightness(0) saturate(100%) invert(72%) sepia(18%) saturate(3732%) hue-rotate(84deg) brightness(100%) contrast(116%) !important;
}

.redes a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(1vmax + 30px); 
  aspect-ratio: 1;
  font-size: calc(1.2vmax + 10px);
  color: var(--brand);
  border: 1px solid var(--brand);
  border-radius: 50%; 
  transition: 0.3s ease, color 0.4s;
}

.redes a:hover{
  color: white;
  transform: scale(1.1)translateY(-3px);
  background-color: var(--secondary);
  box-shadow:  0 0 15px var(--brand);
}


.paragrafo h2, .paragrafo h3{
  text-align: left;
  margin-left: 1%;
  color: var(--secondary);
}

.paragrafo h2{
  font-size: calc(2vmax + 5px);
  margin-bottom: -2.5%;
}

.paragrafo h3{
  text-align: center;
  font-size: calc(1vmax + 5px);
}

#Escrever{
  margin-left: 1%;
  margin-bottom: 3%;
}

#Texto a img, #Texto2 a img{
  vertical-align: middle;
}
#Texto h1,
#Texto2 h1 {
  font-size: calc(3.5vmax + 10px);
  white-space: nowrap;
}

#Texto p,
#Texto2 p {
  font-size: calc(0.5vmax + 10px);
}

#Texto2 a {
  background: transparent;
  border: 2px solid var(--secondary);
  display: flex; 
  margin: 10px;
  align-items: center; 
  font-size: calc(0.5vmax + 10px);
}

#Texto2 img {
  margin-right: 8px; 
  vertical-align: middle; 
}

#Texto2 a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(7px);
}


header {
  width: 100%;
  display: flex;
  position: fixed;
  backdrop-filter: blur(4px);
  background: linear-gradient(0.25turn, rgb(27, 27, 27, 0.3), rgb(7, 7, 7, 0.3));
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
}

.Navbar {
  display: flex;
}

.Navbar li{
  align-content: center;
}

.Principal {
  font-size: calc(1.5vmax + 10px);
  font-weight: 1000;
  color: white;
}

.Navbar a {
  font-size: calc(80% + 10px);
  color: white;
  margin-left: 50px;
  font-weight: 700;
  transition: all 0.55s, color 0s ease-in-out;
  border-bottom: transparent;
  justify-content: center;
}

.Navbar li a, .Principal {
  position: relative;
  transition: 0.2s;
}

.Navbar li a:hover, .Principal:hover{
  color: var(--brand) !important;
}

.Navbar li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--brand);
  transition: width 0.3s;
}

#ahover:hover::after {
  width: 100%;
}

#IconeMenu {
  width: 50px;
  z-index: 11;
  display: none;
}

/* SEÇÃO PRINCIPAL */

.Central {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  align-items: center;
}

#DivImagem,
#Corvo {
  align-items: center;
  position: relative;
  display: grid;
  justify-content: center;
}


#imagemCorvo {
  transition: filter 0.2s ease-in-out;
  position: absolute;
  right: 0;
  z-index: 0;
  filter: drop-shadow(3px 3px 5px transparent)
          drop-shadow(0px 0px 4px var(--brand));
}

#Corvo {
  position: relative;
  aspect-ratio: 1 / 1;
  background-color: black; 
  mask-image: url("https://arthurgamajorge.github.io/Images/corvo.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  
  width: calc(35vw + 120px);
}

#ImagemCentral{
  width: calc(35vw + 120px);
}

#EfeitoEscrevendo {
  font-size: calc(0.5vmax + 10px);
  font-family: monospace;
  color: var(--brand);
  white-space: pre-wrap;
  margin-bottom: 4%;
}

#EfeitoEscrevendo::after {
  content: ' ';
  position: relative;
  top: 0;
  right: 0;
  display: inline-block;
  width: 4px;
  height: 100%;
  background-color: var(--brand);

  animation-name: blink;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  30% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}


/* SEÇÃO HABILIDADES */

.SecondaryImage{
  filter: drop-shadow(10px 10px 15px var(--secondary));
}

.Habilidades{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Habilidades #Texto{
  width: unset !important;
}

.Habilidades img {
  width: calc(2.5vmax + 30px);
}

.Habilidades, .SobreMim, .Portfolio{
  text-align: center;
}

#DivImagem{
  text-align: center;
  display: flex;
  justify-content: center;
}

#ContainerGeral {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 2%;
  padding: 0;
  width: 98vw;
  justify-content: center;
  position: relative;
  min-height: calc(10vmax + 140px);
}

.Cartão {
  border: 3px solid white;
  border-radius: 1vmax;
  width: calc(14vmax + 80px);
  height: calc(5vmax + 50px);
  background: linear-gradient(0.05turn, var(--brand), var(--darkBrand));
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform: translateX(100vw);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease, box-shadow 03s ease;
  display: none;
}

#ContainerGeral .Cartão:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.4); /* Sombra mais forte para dar profundidade */
  transition: transform 0.3s ease, box-shadow 0.3s ease, translateY 0.3s ease;
}

.Cartão.VisivelEsquerda, .Cartão.VisivelDireita {
  display: flex; 
  opacity: 1;
  transform: translateX(0); 
}
.Cartão.IniciarEsquerda, .Cartão.DesaparecerEsquerda {
  transform: translateX(-100vw); 
  opacity: 0;
}
.Cartão.IniciarDireita,.Cartão.DesaparecerDireita {
  transform: translateX(100vw); 
  opacity: 0;
}

#github{
  filter: brightness(0) saturate(100%) invert(25%) sepia(89%) saturate(2932%) hue-rotate(229deg) brightness(76%) contrast(108%);
}
.Cartão p{
  font-size: calc(1vmax + 10px) !important;
  color: white;
}

#habilidade {
  margin-left: 5px;
  width: calc(4vmax + 30px);
  margin-right: 2vmax;
filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px 1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px -1px 0 white);
}

#Botoes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 30px;
}

.SobreMim, .Portfolio {
  background: rgb(255, 255, 255, 0.02);
}

/* SEÇÃO SOBRE MIM */
.SobremimContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
  border: none;
}

.linha-do-tempo {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 40%;
  padding-right: 20px;
  gap: 50px;
}

.linha-do-tempo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 30px;
  width: 3px;
  height: 100%;
  background-color: var(--brand);
  z-index: 0;
}

.evento-data {
  background-color: var(--brand);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  font-size: 20px;
  color: var(--secondary);
  font-weight: bold;
  z-index: 1;
}

.SobreMim #Texto p {
  font-size: calc(0.75vmax + 10px) !important;
  color: var(--secondary);
}

#Texto p{
  
  font-weight: 800;
}

.SobreMim #Texto{
  width: 50%;
  margin: auto;
}

.medalha-container {
  position: absolute;
  left: 6.5px;
  top: 0;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.medalha {
  position: absolute;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  z-index: 2;
  transform: translateZ(-1px)
}

.ouro i{
  color: gold;
}
.prata i{
  color: silver;
}
.bronze i{
  color: rgb(171, 111, 0)
}
.especial i{
  color: var(--darkBrand);
}
.importante i{
  filter: drop-shadow(0px 0px 10px var(--brand))
}
.medalha:hover {
  transform: scale(1.1);
}
.importante:hover {
  transform: scale(1.4) rotate(90deg); 
}
.medalha-info {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 10;
}

.medalha-info p{
  color: white !important;
}

.medalha:hover + .medalha-info {
  display: block;
}

#DivImagem {
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ImagemCentral {
  width: 100%;
}

.Info{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.evento-conteudo p {
  font-size: calc(0.5vmax + 6px);
  text-align: left;
  color: var(--darkBrand);
  margin-right: 5%;

}
.evento-conteudo i, .evento-conteudo svg {
  font-size: calc(4vmax + 45px);  
  margin-left: calc(0.5vmax + 10px); 
}

.evento-conteudo svg {
  padding: 2.5% 0%;
  height: 100%;
  text-align: center;
  width: calc((5vmax + 105px) * 1.1);
}

.evento-conteudo h3 {
  font-size: calc(1vmax + 10px);
  text-align: left;
}

.evento {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}
#conclusao{
  margin-top: 100px;
}
#ensinoMedio{
  margin-top: -25px;
}

.SobreMim{
  padding: 2% 0;
}
.space{
  flex: 1;
  display: flex;
  justify-content: center;
  height: calc(5vmax + 60px);
  align-items: center;
}

.evento-conteudo {
  height: 95%;
  background-color: var(--brand);
  color: var(--darkBrand);
  padding: 5px 0px;
  border: 5px solid transparent;
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 3rem;;
  transition: 0.4s ease-in-out;
  gap: calc(0.5vmax + 10px);
}

.evento-conteudo:hover {
  background-color: var(--darkBrand);;
  color: var(--brand);
  border: 5px solid var(--brand);
  transform: scale(1.03);
  fill: red;
  stroke: red;
}

.evento-conteudo:hover p{
  color: var(--brand);
}

/* SEÇÃO PROJETOS */

.Portfolio{
  padding: 2% 0;
  min-height: calc(28vmax + 300px);
}

.ContainerPortfolio {
  display: flex;
  padding-top: 2%;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.Projeto{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 25%;
  aspect-ratio: 2.2/1;
  border-bottom: 3px solid var(--brand);
  transition: all 0.3s ease-in-out;
  align-content: center;
}

.Projeto::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 0; 
  transition: background-color 0.3s ease;
}

.Projeto:hover::before {
  background-color: transparent; 
}

.Projeto:hover{
  z-index: 1;
  transform: scale(1.2);
}

.Projeto.DesativarHover:hover {
  transform: none;
  z-index: 0;
}

.Projeto:hover h2, .Projeto:hover .stacks{
  opacity: 0;
}

.Projeto .stacks{
  position: relative;
  z-index: 2;
  color: var(--brand);
  transition: all 0.3s ease-in-out;
  font-size: calc(0.8vmax + 20px);
}

.stacks object{
  width: calc(0.8vmax + 20px);
  filter: brightness(0) saturate(100%) invert(55%) sepia(88%) saturate(500%) hue-rotate(89deg) brightness(108%) contrast(117%);
}

.Projeto h2{
  font-size: calc(1vmax + 20px);
  color: white;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.Projeto {
  position: relative; /* Garantir que o info-bar fique posicionado corretamente dentro de .Projeto */
}

.Projeto .info-bar {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
  z-index: 2;
  transform: translateY(100%); 
  opacity: 0; 
}

.Projeto:hover .info-bar {
  transform: translateY(0);  
  opacity: 1;  
}

.Projeto .info-bar .data {
  font-size: 1.2rem;
}

.Projeto .info-bar .btn-veja-mais {
  background-color: var(--brand);
  border: none;
  color: var(--darkBrand);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.Projeto .info-bar .btn-veja-mais:hover {
  color: var(--secondary);
}

.Sistemas, .Mobile{
  display: none;
}
.Web{
  display: block;
}

#CodeDrafts{
  background-image: url("../Images/Projetos/CodeDraftsDark.png");
}
#YourDle{
  background-image: url("../Images/Projetos/YourDle.png");
}
#IOOON{
  background-image: url("../Images/Projetos/FormularioDark.png");
}
#HollowKnight{
  background-image: url("../Images/Projetos/HollowKnight.png");
}
#Monitoria{
  background-image: url("../Images/Projetos/AgendamentoMonitoria.png");
}
#Cadastro{
  background-image: url("../Images/Projetos/Cadastro\ Alunos.png");
}

.BotaoPortfolio {
  height: calc(0.75vmax + 40px);
  width: calc(1.5vmax + 100px);
  font-size: calc(0.5vmax + 12px);
  background-color: var(--secondary);
  color: white;
  transition: all 0.55s ease-in-out;
  border: 2px solid transparent;
}

.BotaoPortfolio:hover {
  scale: 1.2 !important;
  border-radius: 0.5vmax;
}

.Selecionado {
  border-color: white;
  scale: 1.2;
}

.modal-fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease, z-index 0s linear 0.3s;
}

/* Modal oculta antes do clique */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background: var(--darkBrand);
  border: 2px solid var(--brand);
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: -1;
  transition: opacity 1s ease, z-index 0s linear 0.3s;
}

/* Quando a modal estiver aberta */
.modal.Aberto,
.modal-fundo.Aberto {
  opacity: 1;
  z-index: 1000;
  transition: opacity 1s ease, z-index 0s linear;
}

/* Fechar modal */
.close {
  position: absolute;
  padding: 10px;
  top: 10px;
  right: 15px;
  font-size: calc(1vmax + 20px);
}
.modal-body {
  display: flex;
  gap: 40px;
}

.modal-img {
  width: 50%;
  border-radius: 10px;
}

.modal-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal-text h2 {
  margin-bottom: 10px;
}

.modal-date {
  font-size: 14px;
  color: gray;
  margin-top: 10px;
}

/* FOOTER */
footer{
  height: calc(0.2vmax + 10px);
  background-color: var(--brand);
}

/* RESPONSIVIDADE */

@media (max-width: 1195px) {
  .Central {
    display: grid;
  }
}

/* MENU DE MAIS OPÇÕES */
@media (max-width: 1040px) {
  html{
    scroll-padding-top: 20px;
  }
  #Corvo{
    position: unset;
  }
  #IconeMenu {
    display: block;
  }
  header{
    padding: 10px 10%;
  }
  .Navbar {
    position: absolute;
    top: 100%;
    right: -120%;
    width: 300px;
    height: 40vh;
    display: flex;
    padding: 25px 20px;
    flex-direction: column;
    align-items: center;
    background: var(--darkBrand);
    transition: all 0.55s ease;
  }
  .Navbar a,
  .Navbar button {
    margin-left: 0;
    display: block;
    margin: 5px 0;
  }
  .Navbar.open {
    right: 0;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    border: solid 2px white;
    filter: drop-shadow(5px 5px 10px white);
  }
  .Portfolio{
    padding: 4%;
    margin: 0;
  }
  .Central #Texto{
    display: flex;
    justify-content: center;
  }
  #DivImagem{
    display: none;
  }
  
  .SobreMim{
    padding: 10% 0% !important;
  }
  .SobremimContainer{
    width: 100%;
  }
  .evento-conteudo svg{
    padding: 0;
  }
  .linha-do-tempo{
    gap: 100px;
    max-width: 75%;
  }
  #ContainerGeral{
    min-height: calc(15vmax + 210px);
  }
  .Projeto{
    width: 45%;
  }
  .modal{
    width: 80%;
  }
}

@media (max-width: 730px) {
  #Texto{
    width: 100% !important;
  }
  Section{
    padding: 10% 9%;
  }
  .Central {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
  }
  .Central #Texto{
    padding-bottom: 25%;
  }
  #imagemCorvo{
    padding-top: 2vmax;
  }
  #Corvo, #imagemCorvo{
    width: 100%;
  }
  #imagemCorvo{
    position: unset;
  }
  .linha-do-tempo{
    max-width: 100%;
    padding: 0px;
  }
  .SobremimContainer{
    padding: 0px;
  }
  .medalha-info{
    left: 400%;
  }
  .Central .paragrafo, .paragrafo h2{
    text-align: center !important;
  }
  .SobreMim #Texto{
    margin-bottom: 10%;
  }
  .Portfolio{
    padding: 4% 0;
  }
  .ContainerPortfolio{
    padding-top: 0%;
  }
  .Projeto{
    width: 90%;
  }
  .modal{
    width: 95%;
  }
}

@media (max-width: 920px) and (max-height: 420px) {
  #Texto a,
  #Texto2 a {
    align-items: center;
    position: relative;
  }
}
